version: "3.9"

services:
  backend:
    build: .
    container_name: back_whatsapp
    ports:
      - "4000:3000"
    env_file: .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: postgres-whatsapp
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: whatsapp
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
